# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @is-land/project will be requested for
# review when someone opens a pull request.
*       @is-land/project